.carousel-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .image1 {
    background-image: url('../assets/landing-page.jpg');
  }
  
  .image2 {
    background-image: url('../assets/log-in.jpg');
  }
  
  .image3 {
    background-image: url('../assets/sign-in.jpg');
  }  