.mud {
  background-color: #ffffff;
  border: 2px solid #200303;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 50%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(187, 13, 13, 0.2);
  text-align: center;
}